name: Antitrening
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  tests:
    runs-on: ubuntu-latest
    name: Run tests
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
    - name: Start Selenoid server
      uses: n-ton4/selenoid-github-action@master
      id: start-selenoid
      continue-on-error: false
      with:
        version: 1.10.1
        args: -limit 10
        browsers: chrome
        last-versions: 1
    - name: Checkout the code
      uses: actions/checkout@v2    
    - name: Start tests
      run: mvn test    
    - name: Create Report
      run: mvn site
      
    - name: Test marketplace action
      uses: simple-elf/allure-report-action@master
      if: always()
      id: allure-report
      with:
        allure_results: build/allure-results
        gh_pages: gh-pages
        allure_report: allure-report
        allure_history: allure-history
    - name: Deploy report to Github Pages
      if: always()
      uses: peaceiris/actions-gh-pages@v2
      env:
        PERSONAL_TOKEN: ${{ secrets.KEY_ACTIONS }}
        PUBLISH_BRANCH: gh-pages
        PUBLISH_DIR: allure-history
