name: Antitrening
on:
  schedule:
    - cron:  '0 18 * * *'
jobs:
  tests:
    runs-on: ubuntu-latest
    name: Run tests
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
    - name: Start Selenoid Server
      uses: Xotabu4/selenoid-github-action@v1    
    - name: Start tests
      run: mvn test    
    - name: Create Report
      run: mvn site
    - name: Deploy report
      uses: JamesIves/github-pages-deploy-action@3.1.0
      if: always()
      with:
        PERSONAL_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BRANCH: master # The branch the action should deploy to.
        FOLDER: allure-report # The folder the action should deploy.
        TARGET_FOLDER: docs  
