name: Antitrening
on:
  schedule:
    - cron:  '*/10 * * * *'
jobs:
  tests:
    runs-on: ubuntu-latest
    name: Run tests
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
    - name: Start Selenoid server
      uses: n-ton4/selenoid-github-action@master
      id: start-selenoid
      continue-on-error: false
      with:
        version: 1.10.1
        args: -limit 10
        browsers: chrome
        last-versions: 1
    - name: Checkout the code
      uses: actions/checkout@v2    
    - name: Start tests
      run: mvn test
      
    - name: Get Allure history
      uses: actions/checkout@v2
      if: always()
      continue-on-error: true
      with:
        ref: gh-pages
        path: gh-pages 
          
    - name: Create report
      uses: simple-elf/allure-report-action@master
      if: always()
      id: allure-report
      with:
        allure_results: target/allure-results
        gh_pages: gh-pages
        allure_report: allure-report
        allure_history: allure-history/allure-history
        keep_reports: 5
    - name: Deploy report
      if: always()
      uses: peaceiris/actions-gh-pages@v2
      env:
        PERSONAL_TOKEN: ${{ secrets.KEY_ACTIONS }}
        PUBLISH_BRANCH: gh-pages
        PUBLISH_DIR: allure-history/allure-history
